<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OxySocks!</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap-custom.css") %>">
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/font-awesome.min.css") %>">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Micro!</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="<%= product_path @conn, :index %>">Products</a><span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="<%= category_path @conn, :index %>">Categories</a><span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">OxySocks</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="alert alert-info default-hidden" role="alert"><%= get_flash(@conn, :info) %></div>
        <div class="alert alert-danger default-hidden" role="alert"><%= get_flash(@conn, :error) %></div>

        <div class="container-fluid" role="main">
            <%= @inner %>
        </div>

        <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
        <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    </body>
</html>