<div class="col-md-8 col-md-offset-2">
	<div class="page-header col-md-12">
		<h1>EDIT PRODUCT <small><%= link "Back to index", to: product_path(@conn, :index) %></small></h1>
	</div>

	<div class="col-md-12">
		<%= render "form.html", changeset: @changeset, categories: @categories, action: product_path(@conn, :create) %>
	</div>
</div>