<h2>New selling price</h2>

<%= render "form.html", changeset: @changeset, products: @products, action: selling_price_path(@conn, :create) %>

<%= link "Back", to: selling_price_path(@conn, :index) %>
