<div>
  <%= for product <- @products do %>
    <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><%= product.description %></div>
      <div class="panel-body">
        <ul>
          <li>Sellable: <%= product.sellable %></li>
          <li>Buyable: <%= product.buyable %></li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
</div>
